<!--Modal da PAGINA CREATE POINT - CADASTRADO COM SUCESSO. FAZER DEPOIS DE CONFIGURAR O BANCO DE DADOS E O METODO POST DO FORM.-->

<div id="modal" class="point">
    <div class="content">
        <img src="/assets/icones/check.svg" alt="Cadastrado com sucesso">
        <h1>Cadastrado com sucesso</h1>
    </div>
</div>

<script>
    
// função para aparecer o modal cadastrado com sucesso e 2 segundos depois direcionar para a home novamente
    // setTimeout recebe função anonima mais o tempo de 2000 milisegundos
    setTimeout(() => {
    // ele vai fazer a localização da janela ser a / ou seja home
    window.location = "/"
    }, 2000) 
</script>